---
http_interactions:
- request:
    method: post
    uri: http://idlecampus.com:5280/http-bind
    body:
      encoding: UTF-8
      string: <body rid="61087" xmlns="http://jabber.org/protocol/httpbind" xmpp:version="1.0"
        xmlns:xmpp="urn:xmpp:xbosh" wait="5" to="idlecampus.com" hold="3" window="5"/>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <body xmlns='http://jabber.org/protocol/httpbind' sid='365d96f74a68c64fa6cd6652e0618038cd18d700'
        wait='5' requests='2' inactivity='30' maxpause='120' polling='2' ver='1.8'
        from='idlecampus.com' secure='true' authid='3865104894' xmlns:xmpp='urn:xmpp:xbosh'
        xmlns:stream='http://etherx.jabber.org/streams' xmpp:version='1.0'><stream:features
        xmlns:stream='http://etherx.jabber.org/streams'><mechanisms xmlns='urn:ietf:params:xml:ns:xmpp-sasl'><mechanism>SCRAM-SHA-1</mechanism><mechanism>DIGEST-MD5</mechanism><mechanism>PLAIN</mechanism></mechanisms><c
        xmlns='http://jabber.org/protocol/caps' hash='sha-1' node='http://www.process-one.net/en/ejabberd/'
        ver='TQ2JFyRoSa70h2G1bpgjzuXb2sU='/><register xmlns='http://jabber.org/features/iq-register'/></stream:features></body>
  recorded_at: Sat, 30 Nov 2013 21:56:08 GMT
- request:
    method: post
    uri: http://idlecampus.com:5280/http-bind
    body:
      encoding: UTF-8
      string: <body rid="61088" xmlns="http://jabber.org/protocol/httpbind" xmpp:version="1.0"
        xmlns:xmpp="urn:xmpp:xbosh" sid="365d96f74a68c64fa6cd6652e0618038cd18d700"><auth
        xmlns="urn:ietf:params:xml:ns:xmpp-sasl" mechanism="PLAIN">Sm9yZHkyQGlkbGVjYW1wdXMuY29tAEpvcmR5MgBha2szMjI=</auth></body>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <body xmlns='http://jabber.org/protocol/httpbind'><success xmlns='urn:ietf:params:xml:ns:xmpp-sasl'/></body>
  recorded_at: Sat, 30 Nov 2013 21:56:09 GMT
- request:
    method: post
    uri: http://idlecampus.com:5280/http-bind
    body:
      encoding: UTF-8
      string: <body rid="61089" xmlns="http://jabber.org/protocol/httpbind" xmpp:version="1.0"
        xmlns:xmpp="urn:xmpp:xbosh" sid="365d96f74a68c64fa6cd6652e0618038cd18d700"
        xmpp:restart="true"/>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <body xmlns='http://jabber.org/protocol/httpbind' sid='365d96f74a68c64fa6cd6652e0618038cd18d700'
        wait='5' requests='2' inactivity='30' maxpause='120' polling='2' ver='1.8'
        from='idlecampus.com' secure='true' authid='456827325' xmlns:xmpp='urn:xmpp:xbosh'
        xmlns:stream='http://etherx.jabber.org/streams' xmpp:version='1.0'><stream:features
        xmlns:stream='http://etherx.jabber.org/streams'><bind xmlns='urn:ietf:params:xml:ns:xmpp-bind'/><session
        xmlns='urn:ietf:params:xml:ns:xmpp-session'/><c xmlns='http://jabber.org/protocol/caps'
        hash='sha-1' node='http://www.process-one.net/en/ejabberd/' ver='TQ2JFyRoSa70h2G1bpgjzuXb2sU='/><register
        xmlns='http://jabber.org/features/iq-register'/></stream:features></body>
  recorded_at: Sat, 30 Nov 2013 21:56:09 GMT
- request:
    method: post
    uri: http://idlecampus.com:5280/http-bind
    body:
      encoding: UTF-8
      string: <body rid="61090" xmlns="http://jabber.org/protocol/httpbind" xmpp:version="1.0"
        xmlns:xmpp="urn:xmpp:xbosh" sid="365d96f74a68c64fa6cd6652e0618038cd18d700"><iq
        id="bind_55731" type="set" xmlns="jabber:client"><bind xmlns="urn:ietf:params:xml:ns:xmpp-bind"><resource>bosh_7916</resource></bind></iq></body>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <body xmlns='http://jabber.org/protocol/httpbind'><iq xmlns='jabber:client'
        id='bind_55731' type='result'><bind xmlns='urn:ietf:params:xml:ns:xmpp-bind'><jid>Jordy2@idlecampus.com/bosh_7916</jid></bind></iq></body>
  recorded_at: Sat, 30 Nov 2013 21:56:10 GMT
- request:
    method: post
    uri: http://idlecampus.com:5280/http-bind
    body:
      encoding: UTF-8
      string: <body rid="61091" xmlns="http://jabber.org/protocol/httpbind" xmpp:version="1.0"
        xmlns:xmpp="urn:xmpp:xbosh" sid="365d96f74a68c64fa6cd6652e0618038cd18d700"><iq
        xmlns="jabber:client" type="set" id="sess_73386"><session xmlns="urn:ietf:params:xml:ns:xmpp-session"/></iq></body>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <body xmlns='http://jabber.org/protocol/httpbind'><iq type='result'
        xmlns='jabber:client' id='sess_73386'><session xmlns='urn:ietf:params:xml:ns:xmpp-session'/></iq></body>
  recorded_at: Sat, 30 Nov 2013 21:56:10 GMT
recorded_with: VCR 2.8.0
