<% provide(:header,"<h2>About Us<span class='tblue'>.</span></h2>".html_safe)%>

<!-- About starts -->
<div class="about">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p class="aboutpara"><span class="tblue">"</span>We always thought when each student has a mobile why can't a college send him all the important information on his smartphone. A smartphone should not only be for listening to music and chatting with friends. We enable something more. '<span class="tblue">"</span>
				</p>
			</div>
		</div>
        <br />
		<div class="row">
			<div class="col-md-8 col-sm-8 col-xs-12">
				<div class="query">
					<h3>Why</h3>
					<hr>
						<p>With so many teaching institutions that lack the resources to buy blackboard or enable moodle, we offer a web based solution free for anyone to use and manage their students easily.</p>
						<hr>
					<h3>What</h3>
					<hr>
						<p>With IdleCampus, you can send class schedules to all your students, upload files so that there is only one place where they can access in the future, send alerts to your students if you want to cancel a class or remind of them of an upcoming exam.</p>
						<hr>
					<h3>When</h3>
					<hr>
						<p>Use anytime you want, can be used by teachers or even by an admin of a college to manage each batch present n the college.</p> 
						<hr>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4">
				<div class="well">
					<h5>Our Offer</h5>
					<hr>
					<ul>
						<li>Android app.</li>
						<li>iOS app.</li>
						<li>Web based management.</li>
						<li>Custom apps as per the need of the college.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>