<div class="widget" class="col-md-10">

	<div class="widget-content">
  		      <div class="tabbable" style="margin:0 auto">
                <ul class="nav nav-tabs">
                    <li class="active" style="margin:0 5px;text-align:center;width:100px;"><a data-toggle="tab"
                                                                                              href="#tabs-1" data-intro="Send a note attached with a text or with a file to all the people in a group." data-position="top">Notes</a>
                    </li>
                    <li style="margin:0 5px;text-align:center;width:100px;">
                        <a data-toggle="tab" href="#tabs-2" data-intro="Create a short alert for the members" data-position="top">Alert</a>
                    </li>
                    
                    
                    
                  

                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tabs-1">



                      <%= render "notes/form"%>

                      

                    </div>


                    <div class="tab-pane fade" id="tabs-2">
                      
                      <%= render "alerts/form"%>
                        <!-- <textarea class="row-fluid span9" id="createalertinput" ng-model="data.alert" rows="3"
                                  placeholder="Enter your alert here:"></textarea>

                        <p><button type="button" ng-click="publishgroupalert()" id="sendalert" class="btn-success has-spinner">
                          Send</button>
                        </p> -->

                    </div>

                  


                </div>
            </div>
	</div>
</div>
	
  		   