<div class="row">
	<!-- Login content -->
	<div id="login">
		<div id="main-header">
			<h3>Forgot Password?</h3>
		</div>
		
		
	
		<div id="login-content" class="clearfix">
			
      <%= form_tag password_resets_path, :method => :post do %>
       

          <div>
          <%= email_field_tag :email,params[:email],placeholder:"Enter your email...", :autofocus => true , :required => true %></div>

          <input class="bluebutton offset1" name="commit" type="submit" value="Reset Password" style="
                     width: 50%;
       
                  
                     right: 0px;
                     top: 0;
          ">
        <% end %>
		</div>
	</div>
	<!-- /Login content -->
</div>

<!-- Javascript files -->

