<div class="span12">
    <!--Body content-->
   
    <div class="row">
      
      <div class="span2 pull-right">
          <button id="edittimetable" class="btn btn-inverse" ng-click="edit1hbhjb()">Edit Timetable</button>
      </div>
        <div class="span2 pull-right">
            <button id="sendtimetable" class="btn btn-inverse" ng-click="send()">Send Timetable</button>
        </div>
        <div class="span2 pull-right">
            <button id="CreateTimetable" type="button" class="btn btn-inverse" name="CreateTimetable"
                    bs-modal="'/partials/wizard.html'"
                    data-toggle="modal">Create Timetable
            </button>
        </div>
       
    </div>
   

 




    


</div>