<div class="col-md-12">
    <!--Body content-->
   
    <div class="row">
      
      <div class="col-md-2 pull-right">
          <button id="edittimetable" class="btn btn-inverse" ng-click="edit1hbhjb()"><i class="fa fa-lock"></i> Edit Timetable</button>
      </div>
        <div class="col-md-2 pull-right">
            <button id="sendtimetable" class="btn  btn-success download" ng-click="send()">Send Timetable</button>
        </div>
        <div class="col-md-2 pull-right">
          <!-- Button trigger modal -->
          <button class="btn btn-primary btn-mg" data-toggle="modal" data-target="#myModal">
            Create Timetable
          </button>
           
        </div>
       
    </div>
</div>

<div ng-controller="EntryCtrl">
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
    <div class="modal-header">
        <button type="button" id="close" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Timetable</h3>
    </div>
    <div class="modal-body">
        <div>
         
           <div class="btn-group">
           
                <button class="btn btn-default" ng-class="{'btn-primary':isCurrentStep(0)}" ng-click="setCurrentStep(0)">Teachers</button>
                <!-- <button class="btn" ng-class="{'btn-primary':isCurrentStep(1)}" ng-click="setCurrentStep(1)">Weekdays</button> -->
              <button class="btn btn-default" ng-class="{'btn-primary':isCurrentStep(2)}" ng-click="setCurrentStep(2)">Batches</button>
                <button class="btn btn-default" ng-class="{'btn-primary':isCurrentStep(3)}" ng-click="setCurrentStep(3)">Rooms</button>
                <button class="btn btn-default" ng-class="{'btn-primary':isCurrentStep(4)}" ng-click="setCurrentStep(4)">Subjects</button>
            </div>
            <br>
            <div ng-switch="getCurrentStep()" ng-animate="'wave'" class="slide-frame">
              
                 <div ng-switch-when="one">
                    

                    <div class="col-xs-4">
                     <input type="text" ng-model="value" class="form-control" placeholder="Teachers" id="newteacher">
                   </div>
      <button class="addbtn btn btn-primary" id="addteacher" ng-click="addValueToEntry(value,'teacher')">Add</button>
                <span ng-repeat="entry in data.timetable.entries| filter:{name:'teacher'}">
                     <ul>
                        <br>
                    <li ng-repeat="value in entry.values">{{value}}</li>
                </ul>
                </span>
                        </div>
                   
                <!-- <div ng-switch-when="two">
                    <fieldset>
                        <div class="control-group">
              
              {{checkPresence()}}
                            <input type="checkbox" ng-click="checkWeekday('Monday')" ng-model="Monday" id="monday" ng-checked="Monday"> Monday
                            <input type="checkbox" ng-click="checkWeekday('Tuesday')" ng-model="Tuesday" id="tuesday" ng-checked="Tuesday"> Tuesday
                            <input type="checkbox" ng-click="checkWeekday('Wednesday')" ng-model="Wednesday" id="wednesday" ng-checked="Wednesday"> Wednesday
                            <input type="checkbox" ng-click="checkWeekday('Thursday')" ng-model="Thursday" id="thursday" ng-checked="Thursday"> Thursday
                            <input type="checkbox" ng-click="checkWeekday('Friday')" ng-model="Friday" id="friday" ng-checked="Friday"> Friday
                            <input type="checkbox" ng-click="checkWeekday('Saturday')" ng-model="Saturday" id="saturday" ng-checked="Saturday"> Saturday
                            <input type="checkbox" ng-click="checkWeekday('Sunday')" ng-model="Sunday" id="sunday" ng-checked="Sunday"> Sunday
                        </div>

                    </fieldset>
                </div> -->
                <div ng-switch-when="three">
                    <fieldset>
                        <div class="control-group">
                            <div class="controls">
                
                                <label class="checkbox">
                                    Add Batches?<input ng-model="data.checked"  type="checkbox" value="" id="addbatches"/>

 
                                </label>
                  
                
                                <form ng-show="data.checked">
                                  <div class="col-xs-4">
                                    <input name="Add Batches" type="text"  class="form-control" ng-model="batch" id="newbatch">
                                  </div>
                <button class="addbtn btn btn-primary" ng-click="addBatch(batch);batch=''" id="addbatch" >Add</button>
                                    <ul>
                     <br>
                                        <li ng-repeat="batch in data.timetable.batches">
                                            {{batch}}


                                        </li>
                                    </ul>
                                </form>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div ng-switch-when="four">
                    <fieldset>
                        <div class="control-group">

						
 <div class="col-xs-4">
                     <input type="text" ng-model="value" class="form-control" placeholder="Rooms" id="newroom">
                   </div>
        <button class="addbtn btn btn-primary" id="addroom" ng-click="addValueToEntry(value,'room')">Add</button>
               <span ng-repeat="entry in data.timetable.entries| filter:{name:'room'}">
                     <ul>
                        <br>
                    <li ng-repeat="value in entry.values">{{value}}</li>
                </ul>
                </span>
                        </div>
                    </fieldset>
                </div>

                 <div ng-switch-when="five">
                    <fieldset>
                        <div class="control-group">

                        
 <div class="col-xs-4">
                     <input type="text" ng-model="value" class="form-control" id="newsubject" placeholder="Subjects">
                   </div>
         <button class="addbtn btn btn-primary" id="addsubject" ng-click="addValueToEntry(value,'subject')" >Add</button>
               
                 <span ng-repeat="entry in data.timetable.entries| filter:{name:'subject'}">
                     <ul>
                       <br>
                    <li ng-repeat="value in entry.values">{{value}}</li>
                </ul>
                </span>
                        </div>
                    </fieldset>
                </div>

             
            </div>
        </div>
    </div>
    <div class="modal-footer">
       <button type="button" class="btn btn-default" data-dismiss="modal">Create</button>
        <!-- <a class="btn" ng-click="handlePrevious()" ng-show="!isFirstStep()">Back</a>
        <a class="btn btn-primary" ng-click="handleNext(dismiss)">{{getNextLabel()}}</a> -->
    </div>
</div>
    </div>
</div></div>