<% provide(:header,"<h2>Timetable<span class='tblue'>.</span></h2>".html_safe)%>
<div class="row" ng-controller="TimetableCtrl" ng-init="get()">
  <div id="addtimetableentry" class="modal hide fade" tabindex="-1" role="dialog"
       aria-labelledby="myModalLabel" aria-hidden="true">

      <div class="modal-header">

          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                  id="close{{index}}">×
          </button>
          <h3 id="myModalLabel"></h3>

      </div>
      <div class="modal-body">
        <div class="control-group">
                    <label class="control-label" for="when">When:</label>
                    <div class="controls controls-row" id="when" style="margin-top:5px;">
                    </div>
                </div>
        <div class="controls">
        
           
                      <input type="hidden" id="apptStartTime"/>
                      <input type="hidden" id="apptEndTime"/>
                      <input type="hidden" id="apptAllDay" />
                </div>
                <div ng-show="data.timetable.batches.length>1">
    Add Batches?<input ng-model="checked"  type="checkbox" id="addbatches"/>
               </div>           
    <span ng-repeat="entry in data.timetable.entries" ng-hide="checked">
     {{entry.name}}<select class="span2" ng-model="entry3213"
                           ng-options="value for value in entry.values"
                           id="{{entry.name}}{{index}}"></select>
    </span>
    
   
          <span ng-repeat="batch in data.timetable.batches" ng-show="checked">
          
             <span ng-repeat="entry in data.timetable.entries">

     {{entry.name}}: <select class="span2" ng-model="entry3214"
                             ng-options="value for value in entry.values"
                             id="{{entry.name}}{{index}}{{$parent.$index+1}}"></select>



    </span>
          </span>


      </div>
      <div class="modal-footer">

          <button data-dismiss="modal" id="AddEntry" ng-click="addEntry()">Add</button>
      </div>
  </div>

  <%= render 'buttons'%>
 
</br>
  <!-- <h2>Timetable</h2> -->
  <div id='calendar' style="margin-top: 3%;"></div>

                
                
              </div>
          </div>
      </div>
    
      
    



 
 

</div>