---
http_interactions:
- request:
    method: post
    uri: http://developer.idlecampus.com/push/push1
    body:
      encoding: UTF-8
      string: '{"push":{"devices":["85718da6d39b75c5","a9c72e102f1bc1b0","7d94095209b6e051","4BA905D6-443D-4631-A7BD-DEDEA1638BA1","9dce6d95d8b1ae67"],"message":"Hi","app":"timetable"}}'
    headers:
      content-type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/html; charset=utf-8
      etag:
      - '"7215ee9c7d9dc229d2921a40e899ec5f"'
      status:
      - 200 OK
      x-xhr-current-location:
      - /push/push1
    body:
      encoding: UTF-8
      string: ' '
  recorded_at: Sat, 30 Nov 2013 20:48:13 GMT
recorded_with: VCR 2.8.0
