        <div ng-controller="GroupsCtrl" ng-init="register1();attach();getGroupsCreated();getGroupsFollowing()">

            <form class="form-inline">
                <input class="create-group-input span2" placeholder="Group Name" type="text"
                       id="creategroupinput" ng-model="data.creategroup"/>

                <button data-dismiss="modal" class="btn btn-primary" id="creategroupbutton"
                        ng-click="createGroup()">Create
                </button>
				<button ng-click="getGroupsCreated()">Get Created Groups</button>
            </form>
            <ul class="nav nav-pills nav-stacked">
                <li ng-repeat="group in data.groupscreated" id="{{group}}">
                    <a data-toggle="tab" href="" ng-click="groupclick(group);"><i class="icon-asterisk"></i>{{group.group_name}}</a>
                </li>
            </ul>

        </div>