<div class="row">
    <div class="offset3 span8">
      
     <%= image_tag("img/GroupName.png") %> :<span id="groupname"> <%= @group.name%></span>
    </div>
    <div class="span5">
      <%= image_tag("img/GroupID.png") %>:<span id="groupcode"> <%= @group.group_code %></span>
    </div>

</div>