<div class="row">
    <div class="offset3 span7">
      
     Group Name: <span id="groupname"><%= @group.name%></span>
    </div>
    <div class="span5">
      Group ID: <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" id="groupcode" title="" data-original-title="Pass this group code to your students to follow"><%= @group.group_code %></button>
    </div>

</div>



<!-- <button type="button" class="btn btn-default" id="example" data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="" title="">
         <%= @group.group_code %>
        </button> -->