<ul class="nav nav-pills nav-stacked">
  <li data-intro="See what files have been uploaded" data-position="right"><%= link_to '<i class="icon-file icon-white"></i> Files'.html_safe,group_files_path(@group),style:"background: #49708A;
    color: white;"%></li>
    
    <li data-intro="Edit or view the timetable for the group" data-position="right"><%= link_to  '<i class="icon-calendar icon-white"></i> Timetable'.html_safe,group_timetable_path(@group.group_code),style:"background: #49708A;
      color: white;"%></li>
</ul>

