    <div class="row"  ng-controller="GroupsCtrl" ng-init="getGroupsCreated();">
        <aside class="span3">
            <section>
                <div>
									
									
									<% if current_user.rolable_type == "Teacher"%>
									<section>
									  <%= render 'shared/group_form' %>
									</section>
									<section>
									  <%= render 'shared/groups' %>
									</section>
									<% end %>
								
                   
                </div>
            </section>

        </aside>
        <div class="span9">
            <!-- Main content         -->
            <div id="main-content">
                <!-- Container -->
                <div class="container">
								
									<%= render 'messages/tabs'%>

						    

			           
                </div>
            </div>


            <!-- /Content -->


            <!-- /Content -->
        </div>


    </div>
    <!-- /Container -->
</div>




</div>



