<div class="row">
<aside class="span3">
    <section>

        <%= render "groups/group"%>
    </section>

</aside>
<div class="span9">
<!-- Main content         -->
<div id="main-content">
<!-- Container -->
<div class="container">
<!-- Header boxes -->
<!-- /Header boxes -->
	<%= render "timetable/timetable" %>


<!-- /Content -->


<!-- /Content -->
</div>



</div>
<!-- /Container -->
</div>




</div>

