Welcome <%= @user.name%>
<div class="row">
<aside class="span3">
    <section>

        <%= render "groups/group"%>
    </section>

</aside>
<div class="span9">
<!-- Main content         -->
<div id="main-content">
<!-- Container -->
<div class="container">
<!-- Header boxes -->
<!-- /Header boxes -->
 <div ng-controller="GroupsCtrl">
 	<div class="row">
 	  <div class="">
     <form class="form-inline">
         <input class="create-group-input span2" placeholder="Group Name" type="text"
                id="creategroupinput" ng-model="data.creategroup"/>

         <button data-dismiss="modal" class="btn btn-primary" id="creategroupbutton"
                 ng-click="createGroup()">Create
         </button>
 		
		<!-- <div ng-controller="EntryCtrl">
		    <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h3>Timetable</h3>
		    </div>
		    <div class="modal-body">
		        <div>
		            <div class="btn-group">
		                <button class="btn" ng-class="{'btn-primary':isCurrentStep(0)}" ng-click="setCurrentStep(1)">Teachers</button>
						  <button class="btn" ng-class="{'btn-primary':isCurrentStep(1)}" ng-click="setCurrentStep(2)">Subjects</button>
						  
		                <button class="btn" ng-class="{'btn-primary':isCurrentStep(2)}" ng-click="setCurrentStep(3)">Weekdays</button>
		                <button class="btn" ng-class="{'btn-primary':isCurrentStep(3)}" ng-click="setCurrentStep(4)">Groups</button>
		                <button class="btn" ng-class="{'btn-primary':isCurrentStep(4)}" ng-click="setCurrentStep(5)">Values</button>
		                <button class="btn" ng-class="{'btn-primary':isCurrentStep(5)}" ng-click="setCurrentStep(6)">Timetable</button>
		            </div>
		            <div ng-switch="getCurrentStep()" ng-animate="'wave'" class="slide-frame">
		                <div ng-switch-when="one">
		                    <fieldset>
		                        <div class="control-group">

		                            <input name="field" type="text" ng-model="teacher" placeholder="add new teacher here">
		                            <button class="addbtn btn btn-small" ng-click="addTeacher(teacher);teacher=''" style="
		                                            width: 53px;
		                                                    height: 30px;
		                                                    padding-top: 0px;
		                                                    padding-left: 0px;
		                                                    padding-right: 0px;
		                                                    padding-bottom: 0px;
		                                            ">Add</button>

		                            <ul>
		                                <li ng-repeat="entry in data.timetable.entries">
		                                    <span>{{teacher.name}}</span>
		                                </li>
		                            </ul>

		                        </div>

		                    </fieldset>
		                </div>
		                <div ng-switch-when="one">
		                    <fieldset>
		                        <div class="control-group">

		                            <input name="field" type="text" ng-model="teacher" placeholder="add new subject here">
		                            <button class="addbtn btn btn-small" ng-click="addSubject(subject);subject=''" style="
		                                            width: 53px;
		                                                    height: 30px;
		                                                    padding-top: 0px;
		                                                    padding-left: 0px;
		                                                    padding-right: 0px;
		                                                    padding-bottom: 0px;
		                                            ">Add</button>

		                            <ul>
		                                <li ng-repeat="entry in data.timetable.entries">
		                                    <span>{{subject.name}}</span>
		                                </li>
		                            </ul>

		                        </div>

		                    </fieldset>
		                </div>
		                <div ng-switch-when="two">
		                    <fieldset>
		                        <div class="control-group">
		                            <input type="checkbox" ng-click="checkWeekday('Monday')" ng-model="Monday"> Monday
		                            <input type="checkbox" ng-click="checkWeekday('Tuesday')" ng-model="Tuesday"> Tuesday
		                            <input type="checkbox" ng-click="checkWeekday('Wednesday')" ng-model="Wednesday"> Wednesday
		                            <input type="checkbox" ng-click="checkWeekday('Thursday')" ng-model="Thursday"> Thursday
		                            <input type="checkbox" ng-click="checkWeekday('Friday')" ng-model="Friday"> Friday
		                            <input type="checkbox" ng-click="checkWeekday('Saturday')" ng-model="Saturday"> Saturday
		                            <input type="checkbox" ng-click="checkWeekday('Sunday')" ng-model="Sunday"> Sunday
		                        </div>

		                    </fieldset>
		                </div>
		                <div ng-switch-when="three">
		                    <fieldset>
		                        <div class="control-group">
		                            <div class="controls">
		                                <label class="checkbox">
		                                    Add Batches?<input ng-model="checked" ng-click="changechecked()" type="checkbox" value=""/>


		                                </label>
		                                <form ng-show="checked">
		                                    <input name="Add Batches" type="text" ng-model="batch">

		                                    <button class="addbtn btn" ng-click="addBatch(batch);batch=''" style="
		                                            width: 53px;
		                                                    height: 30px;
		                                                    padding-top: 0px;
		                                                    padding-left: 0px;
		                                                    padding-right: 0px;
		                                                    padding-bottom: 0px;
		                                            ">Add</button>
		                                    <ul>
		                                        <li ng-repeat="batch in data.timetable.batches">
		                                            {{batch}}


		                                        </li>
		                                    </ul>
		                                </form>
		                            </div>
		                        </div>
		                    </fieldset>
		                </div>
		                <div ng-switch-when="four">
		                    <fieldset>
		                        <div class="control-group">

								 <span ng-repeat="entry in data.timetable.entries">

		                     <input type="text" ng-model="value" placeholder="{{entry.name}}">
		                       <button class="addbtn btn" id="entryvalue" ng-click="addValueToEntry(value,entry.name)" style="
		                                            width: 53px;
		                                                    height: 30px;
		                                                    padding-top: 0px;
		                                                    padding-left: 0px;
		                                                    padding-right: 0px;
		                                                    padding-bottom: 0px;
		                                            ">Add</button>
		                <ul>
		                    <li ng-repeat="value in entry.values">{{value}}</li>
		                </ul>

		                </span>
		                        </div>
		                    </fieldset>
		                </div>

		                <div ng-switch-when="five">
		                    <fieldset>
		                        <div class="control-group">
		                            Weekdays:{{data.timetable.weekdays}}
		                            Batches:{{data.timetable.batches}}
		                            {{data.timetable.entries}}
		                            <span ng-repeat="entry in data.timetable.entries">
		                                 Entry : {{entry.name}}
		                                 Values : {{entry.values}}
		                            </span>

		                        </div>
		                    </fieldset>
		                </div>
		            </div>
		        </div>
		    </div>
		    <div class="modal-footer">
		        <a class="btn" ng-click="handlePrevious()" ng-show="!isFirstStep()">Back</a>
		        <a class="btn btn-primary" ng-click="handleNext(dismiss)">{{getNextLabel()}}</a>
		    </div>
		</div> -->
			<div ng-controller="EntryCtrl">
			      <ul id="myTab" class="nav nav-pills">
			        <li class="active"><a href="#teacher" data-toggle="tab">Teachers</a></li>
			        <li><a href="#subject" data-toggle="tab">Subjects</a></li>
					<li><a href="#weekday" data-toggle="tab">Weekdays</a></li>
				    <li><a href="#room" data-toggle="tab">Rooms</a></li>
					  <li><a href="#batch" data-toggle="tab">Batches</a></li>
					<li><a href="#room1" data-toggle="tab">Timetable</a></li>
				    <!-- <li><a href="#timetable" data-toggle="tab">Timetable</a></li> -->
       
			      </ul>
			      <div id="myTabContent" class="tab-content">
			        <div class="tab-pane fade in active" id="teacher">
			            <fieldset>
			                <div class="control-group">

			                    <input name="field" type="text" ng-model="teacher" placeholder="add new teacher here">
			                    <button class="addbtn btn btn-small" ng-click="addTeacher(teacher);teacher=''" style="
			                                    width: 53px;
			                                            height: 30px;
			                                            padding-top: 0px;
			                                            padding-left: 0px;
			                                            padding-right: 0px;
			                                            padding-bottom: 0px;
			                                    ">Add</button>

			                    <ul>
			                        <li ng-repeat="teacher in data.timetable.teachers">
			                            <span>{{teacher.name}}</span>
			                        </li>
			                    </ul>

			                </div>

			            </fieldset>
        
			        </div>
			        <div class="tab-pane fade" id="subject">
			            <fieldset>
			                <div class="control-group">

			                    <input name="field" type="text" ng-model="teacher" placeholder="add new subject here">
			                    <button class="addbtn btn btn-small" ng-click="addSubject(subject);subject=''" style="
			                                    width: 53px;
			                                            height: 30px;
			                                            padding-top: 0px;
			                                            padding-left: 0px;
			                                            padding-right: 0px;
			                                            padding-bottom: 0px;
			                                    ">Add</button>

			                    <ul>
			                        <li ng-repeat="subject in data.timetable.subjects">
			                            <span>{{subject.name}}</span>
			                        </li>
			                    </ul>

			                </div>

			            </fieldset>
         
			        </div>
			        <div class="tab-pane fade" id="weekday">
			            <fieldset>
			                <div class="control-group">
			                    <input type="checkbox" ng-click="checkWeekday('Monday')" ng-model="Monday"> Monday
			                    <input type="checkbox" ng-click="checkWeekday('Tuesday')" ng-model="Tuesday"> Tuesday
			                    <input type="checkbox" ng-click="checkWeekday('Wednesday')" ng-model="Wednesday"> Wednesday
			                    <input type="checkbox" ng-click="checkWeekday('Thursday')" ng-model="Thursday"> Thursday
			                    <input type="checkbox" ng-click="checkWeekday('Friday')" ng-model="Friday"> Friday
			                    <input type="checkbox" ng-click="checkWeekday('Saturday')" ng-model="Saturday"> Saturday
			                    <input type="checkbox" ng-click="checkWeekday('Sunday')" ng-model="Sunday"> Sunday
			                </div>

			            </fieldset>
         
			        </div>
					 <div class="tab-pane fade" id="batch">
			            <fieldset>
			                <div class="control-group">
			                    <div class="controls">
			                        <label class="checkbox">
			                            Add Batches?<input ng-model="checked" ng-click="changechecked()" type="checkbox" value=""/>


			                        </label>
			                        <form ng-show="checked">
			                            <input name="Add Batches" type="text" ng-model="batch">

			                            <button class="addbtn btn" ng-click="addBatch(batch);batch=''" style="
			                                    width: 53px;
			                                            height: 30px;
			                                            padding-top: 0px;
			                                            padding-left: 0px;
			                                            padding-right: 0px;
			                                            padding-bottom: 0px;
			                                    ">Add</button>
			                            <ul>
			                                <li ng-repeat="batch in data.timetable.batches">
			                                    {{batch}}


			                                </li>
			                            </ul>
			                        </form>
			                    </div>
			                </div>
			            </fieldset>
					</div>
			        <div class="tab-pane fade" id="room">
			            <fieldset>
			                <div class="control-group">

			                    <input name="field" type="text" ng-model="room" placeholder="add new room here">
			                    <button class="addbtn btn btn-small" ng-click="addRoom(room);room=''" style="
			                                    width: 53px;
			                                            height: 30px;
			                                            padding-top: 0px;
			                                            padding-left: 0px;
			                                            padding-right: 0px;
			                                            padding-bottom: 0px;
			                                    ">Add</button>

			                    <ul>
			                        <li ng-repeat="room in data.timetable.rooms">
			                            <span>{{room.name}}</span>
			                        </li>
			                    </ul>

			                </div>

			            </fieldset>
        
			        </div>
			        <div class="tab-pane fade" id="room1">
			            <fieldset>
			                <div class="control-group">
			                    Weekdays:{{data.timetable.weekdays}}
			                    Batches:{{data.timetable.batches}}
			                    {{data.timetable.entries}}
			                    <span ng-repeat="entry in data.timetable.entries">
			                         Entry : {{entry.name}}
			                         Values : {{entry.values}}
			                    </span>

			                </div>
			            </fieldset>
        
			        </div>
			      </div>

			  </div>
     </form>

 </div>
 </div>
 </div>
	


<!-- /Content -->


<!-- /Content -->
</div>



</div>
<!-- /Container -->
</div>




</div>



