Welcome <%= @user.name %>


<% if signed_in? %>
  <div class="row">
    <aside class="span4">
			
      <section>
        <%= render 'shared/group_form' %>
      </section>
      <section>
        <%= render 'shared/groups' %>
      </section>
     
    </aside>
  </div>
<% end %>