Welcome <%= @user.name%>
<div class="row">
<aside class="span3">
    <section>
        <div ng-controller="GroupsCtrl">
			<div id="createalert" class="modal hide fade" tabindex="-1" role="dialog"
			         aria-labelledby="myModalLabel" aria-hidden="true">
			        <div class="modal-header">
			            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			            <h3 id="myModalLabel">Create Alert</h3>
			        </div>
			        <div class="modal-body">
			            <input placeholder="Alert" type="text"
			                   id="createalertinput" ng-model="data.message"/>
			        </div>
			        <div class="modal-footer">
			            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			            <button data-dismiss="modal" class="btn btn-primary"
			                    ng-click="publishgroupalert()">Send
			            </button>
			        </div>
			    </div>
        	 <form class="form-inline"> 
                  <input class="create-group-input span2" placeholder="Group Name" type="text"
                        id="creategroupinput" name="group" ng-model="data.creategroup"/>
                 
                 <button data-dismiss="modal" class="btn btn-primary" id="creategroupbutton"
                         ng-click="createGroup()">Create
                 </button> 
				 
				
 				
				
              </form>
        <!-- <%= render "groups/form"%> -->
        <ul id="sidebar" class="nav nav-tabs nav-stacked" id="groupscreated">
	        <li class="active">
	            <a href="#collapse-additional-info" class="accordion-toggle" data-toggle="collapse"
	               data-parent="navigation-components">
	                <i class="icon-list-ul"></i>&nbsp;&nbsp;Groups

	            </a>

	        </li>

	        <li ng-repeat="group in data.groupscreated" id="{{group}}">
                              <a href="" ng-click="groupclick(group)">{{group.name}}</a>
                            </li>
			
			
            <!-- <i class="icon-spinner icon-spin"></i> Spinner icon when loading content... -->
        <!-- <%= render partial: "groups/group", collection: @groups %> -->
    </ul>
	</div>
    </section>

</aside>
<div class="span9">
<!-- Main content         -->
<div id="main-content">
<!-- Container -->
<div class="container">
<!-- Header boxes -->
<!-- /Header boxes -->
	
	<%= render "timetable/timetable"%>

 </div>
 </div>
	


<!-- /Content -->


<!-- /Content -->
</div>



</div>
<!-- /Container -->
</div>




</div>



