<!-- <%= form_for @group,"ng-controller"=>"GroupsCtrl", "ng-submit" => "createGroup()" do |f|%>

<%= f.text_field :name,class:"span3",placeholder:"New Group:" %>

<%= f.submit "Create",id:"creategroupbutton1",class:"btn btn-success", "ng-submit" => "createGroup()" %>
  
<% end %> -->

<form ng-submit="createGroup()" ng-controller="GroupsCtrl">
  
  <input type="text" ng-model="new_group" name="text" class="span3" id="group" placeholder="New Group" />
      <input type="submit" id="submit" value="Create" class="btn btn-success" />
  
    
  
  </form>