
<ul id="sidebar" class="nav nav-tabs nav-stacked" id="groupscreated">
    <li class="active">
        <a href="#collapse-additional-info" class="accordion-toggle" data-toggle="collapse"
           data-parent="navigation-components">
           <i class="fa fa-users"></i> </i>&nbsp;&nbsp;Groups
            <span ng-controller="GroupsCtrl">
            <button class="btn btn-inverse pull-right" style="padding:2px;" data-toggle="modal" data-target="#new_group"><i class="fa fa-plus-square"></i> Add</button>
            
            </span>
         
        </a>

    </li>

    
		<% current_user.groups.each do |group|%>
		<li><%= link_to "<i class='fa fa-inbox'></i>            #{group.name}".html_safe,group_path(group) %></a></li>
		<% end %>
		
		


</ul>