<div class="tab-content">
   <div class="tab-pane active" id="tab1">
     <div class="row-fluid">
       <div class="span1"></div>
       <div class="span9">

         <div class="tabbable" style="margin:0 auto">
           <ul class="nav nav-tabs">
             <li class="active" style="margin:0 5px;text-align:center;width:100px;"><a data-toggle="tab"
                                                                                       href="#tabs-1">Notes</a>
             </li>
             <li style="margin:0 5px;text-align:center;width:100px;"><a data-toggle="tab" href="#tabs-2">Alert</a>
             </li>
            
           </ul>
           <div class="tab-content">
             <div class="tab-pane active" id="tabs-1">

               <textarea class="row-fluid" ng-model="data.groupnoteform" rows="3"
                         placeholder="Enter your note here:"></textarea>

               <!--  <textarea class="input-block-level" placeholder="type the name of the group here..." id="nodemessage"></textarea> -->
               <%= form_for Note.new, :html => {:id => "groupnoteupload"} do |f| %>
                   <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                   <div class="fileupload-buttonbar">


                     <%= f.file_field :file %>


                   </div>
                   <!-- The loading indicator is shown during image processing -->

                   <br>
                   <!-- The table listing the files available for upload/download -->
                   <table class="table table-striped">
                     <tbody class="files" data-toggle="modal-gallery"
                            data-target="#modal-gallery"></tbody>
                   </table>
               <% end %>

               <a class="btn" ng-click="publishgroupnote()">Send</a> <!-- , student or teacher -->

             </div>




             <div class="tab-pane" id="tabs-2">
               <textarea class="row-fluid" ng-model="data.groupalertform" rows="3"
                         placeholder="Enter your alert here:"></textarea>
               <!--   <textarea class="input-block-level" placeholder="type the name of the group here..." id="nodemessage"></textarea> -->
               <a class="btn" ng-click="publishgroupalert()">Send</a>
             </div>
            

            

           </div>
         </div>


         <br>


         <div>


         </div>
       </div>
     </div>

   </div>