
<li>
  Group: <%= alert.group.name%>
  <abbr class="timeago pull-right" title="<%= alert.created_at.getutc.iso8601 %>">
    <%= alert.created_at.to_s %>
  </abbr>
<p class="well well-message">
	<%= alert.message %>
 
</p>

</li>