
<%= form_for Alert.new, :html => {:id => "groupnoteupload"},remote: true do |f| %>
 
<div class="col-xs-8">
			<%= f.text_area :message,rows: 3,class:" form-control",placeholder:"Enter your alert here:"%>
    </div>
      <% if @group.group_code %>
			  <%= f.hidden_field :group,:value =>@group.group_code %>
      <% else %>
      <%= f.select :group, current_user.groups.collect {|p| [ p.name, p.group_code ] } %>
      
      <% end %>
     
    </br>

    <button type="button" ng-click="publishgroupalert()" id="sendalert" class="btn btn-success">
        Send</button>
        
<% end %>