<div class="row">
  <aside class="span3">
    <section>
    <%= render 'shared/user_info' %>
    <%= render 'shared/group_form' %>
    </section>
    <section>
      <%= render 'shared/groups' %>
    </section>
   
  </aside>
</div>