<div ng-controller="EntryCtrl">
    <div class="modal-header">
        <button type="button" id="close" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Timetable</h3>
    </div>
    <div class="modal-body">
        <div>
            <div class="btn-group">
                <button class="btn" ng-class="{'btn-primary':isCurrentStep(0)}" ng-click="setCurrentStep(0)">Teachers</button>
                <!-- <button class="btn" ng-class="{'btn-primary':isCurrentStep(1)}" ng-click="setCurrentStep(1)">Weekdays</button> -->
                <button class="btn" ng-class="{'btn-primary':isCurrentStep(2)}" ng-click="setCurrentStep(2)">Batches</button>
                <button class="btn" ng-class="{'btn-primary':isCurrentStep(3)}" ng-click="setCurrentStep(3)">Rooms</button>
                <button class="btn" ng-class="{'btn-primary':isCurrentStep(4)}" ng-click="setCurrentStep(4)">Subjects</button>
            </div>
            <div ng-switch="getCurrentStep()" ng-animate="'wave'" class="slide-frame">
              
                 <div ng-switch-when="one">
                    <fieldset>
                        <div class="control-group">

                        
                     <input type="text" ng-model="value" placeholder="Teachers" id="newteacher">
                       <button class="addbtn btn" id="addteacher" ng-click="addValueToEntry(value,'teacher')" style="
                                            width: 53px;
                                                    height: 30px;
                                                    padding-top: 0px;
                                                    padding-left: 0px;
                                                    padding-right: 0px;
                                                    padding-bottom: 0px;
                                            ">Add</button>
                <span ng-repeat="entry in data.timetable.entries| filter:{name:'teacher'}">
                     <ul>
                    <li ng-repeat="value in entry.values">{{value}}</li>
                </ul>
                </span>
                        </div>
                    </fieldset>
                </div>
                <!-- <div ng-switch-when="two">
                    <fieldset>
                        <div class="control-group">
              
              {{checkPresence()}}
                            <input type="checkbox" ng-click="checkWeekday('Monday')" ng-model="Monday" id="monday" ng-checked="Monday"> Monday
                            <input type="checkbox" ng-click="checkWeekday('Tuesday')" ng-model="Tuesday" id="tuesday" ng-checked="Tuesday"> Tuesday
                            <input type="checkbox" ng-click="checkWeekday('Wednesday')" ng-model="Wednesday" id="wednesday" ng-checked="Wednesday"> Wednesday
                            <input type="checkbox" ng-click="checkWeekday('Thursday')" ng-model="Thursday" id="thursday" ng-checked="Thursday"> Thursday
                            <input type="checkbox" ng-click="checkWeekday('Friday')" ng-model="Friday" id="friday" ng-checked="Friday"> Friday
                            <input type="checkbox" ng-click="checkWeekday('Saturday')" ng-model="Saturday" id="saturday" ng-checked="Saturday"> Saturday
                            <input type="checkbox" ng-click="checkWeekday('Sunday')" ng-model="Sunday" id="sunday" ng-checked="Sunday"> Sunday
                        </div>

                    </fieldset>
                </div> -->
                <div ng-switch-when="three">
                    <fieldset>
                        <div class="control-group">
                            <div class="controls">
                
                                <label class="checkbox">
                                    Add Batches?<input ng-model="data.checked"  type="checkbox" value="" id="addbatches"/>

 
                                </label>
                  
                
                                <form ng-show="data.checked">
                  
                                    <input name="Add Batches" type="text" ng-model="batch" id="newbatch">

                                    <button class="addbtn btn" ng-click="addBatch(batch);batch=''" id="addbatch" style="
                                            width: 53px;
                                                    height: 30px;
                                                    padding-top: 0px;
                                                    padding-left: 0px;
                                                    padding-right: 0px;
                                                    padding-bottom: 0px;
                                            ">Add</button>
                                    <ul>
                    
                                        <li ng-repeat="batch in data.timetable.batches">
                                            {{batch}}


                                        </li>
                                    </ul>
                                </form>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div ng-switch-when="four">
                    <fieldset>
                        <div class="control-group">

						

                     <input type="text" ng-model="value" placeholder="Rooms" id="newroom">
                       <button class="addbtn btn" id="addroom" ng-click="addValueToEntry(value,'room')" style="
                                            width: 53px;
                                                    height: 30px;
                                                    padding-top: 0px;
                                                    padding-left: 0px;
                                                    padding-right: 0px;
                                                    padding-bottom: 0px;
                                            ">Add</button>
               <span ng-repeat="entry in data.timetable.entries| filter:{name:'room'}">
                     <ul>
                    <li ng-repeat="value in entry.values">{{value}}</li>
                </ul>
                </span>
                        </div>
                    </fieldset>
                </div>

                 <div ng-switch-when="five">
                    <fieldset>
                        <div class="control-group">

                        

                     <input type="text" ng-model="value" id="newsubject" placeholder="Subjects">
                       <button class="addbtn btn" id="addsubject" ng-click="addValueToEntry(value,'subject')" style="
                                            width: 53px;
                                                    height: 30px;
                                                    padding-top: 0px;
                                                    padding-left: 0px;
                                                    padding-right: 0px;
                                                    padding-bottom: 0px;
                                            ">Add</button>
               
                 <span ng-repeat="entry in data.timetable.entries| filter:{name:'subject'}">
                     <ul>
                    <li ng-repeat="value in entry.values">{{value}}</li>
                </ul>
                </span>
                        </div>
                    </fieldset>
                </div>

             
            </div>
        </div>
    </div>
    <div class="modal-footer">
       <button type="button" class="btn btn-default" data-dismiss="modal">Create</button>
        <!-- <a class="btn" ng-click="handlePrevious()" ng-show="!isFirstStep()">Back</a>
        <a class="btn btn-primary" ng-click="handleNext(dismiss)">{{getNextLabel()}}</a> -->
    </div>
</div>