<div ng-controller="EntryCtrl">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Timetable</h3>
    </div>
    <div class="modal-body">
        <div>
            <div class="btn-group">
                <button class="btn" ng-class="{'btn-primary':isCurrentStep(0)}" ng-click="setCurrentStep(0)">Fields</button>
                <button class="btn" ng-class="{'btn-primary':isCurrentStep(1)}" ng-click="setCurrentStep(1)">Weekdays</button>
                <button class="btn" ng-class="{'btn-primary':isCurrentStep(2)}" ng-click="setCurrentStep(2)">Groups</button>
                <button class="btn" ng-class="{'btn-primary':isCurrentStep(3)}" ng-click="setCurrentStep(3)">Values</button>
                <button class="btn" ng-class="{'btn-primary':isCurrentStep(4)}" ng-click="setCurrentStep(4)">Timetable</button>
            </div>
            <div ng-switch="getCurrentStep()" ng-animate="'wave'" class="slide-frame">
                <div ng-switch-when="one">
                    <fieldset>
                        <div class="control-group">

                            <input name="field" type="text" ng-model="entry" placeholder="add new field here">
                            <button class="addbtn btn btn-small" ng-click="addEntry(entry);entry=''" style="
                                            width: 53px;
                                                    height: 30px;
                                                    padding-top: 0px;
                                                    padding-left: 0px;
                                                    padding-right: 0px;
                                                    padding-bottom: 0px;
                                            ">Add</button>

                            <ul>
                                <li ng-repeat="entry in data.timetable.entries">
                                    <span>{{entry.name}}</span>
                                </li>
                            </ul>

                        </div>

                    </fieldset>
                </div>
                <div ng-switch-when="two">
                    <fieldset>
                        <div class="control-group">
                            <input type="checkbox" ng-click="checkWeekday('Monday')" ng-model="Monday"> Monday
                            <input type="checkbox" ng-click="checkWeekday('Tuesday')" ng-model="Tuesday"> Tuesday
                            <input type="checkbox" ng-click="checkWeekday('Wednesday')" ng-model="Wednesday"> Wednesday
                            <input type="checkbox" ng-click="checkWeekday('Thursday')" ng-model="Thursday"> Thursday
                            <input type="checkbox" ng-click="checkWeekday('Friday')" ng-model="Friday"> Friday
                            <input type="checkbox" ng-click="checkWeekday('Saturday')" ng-model="Saturday"> Saturday
                            <input type="checkbox" ng-click="checkWeekday('Sunday')" ng-model="Sunday"> Sunday
                        </div>

                    </fieldset>
                </div>
                <div ng-switch-when="three">
                    <fieldset>
                        <div class="control-group">
                            <div class="controls">
                                <label class="checkbox">
                                    Add Batches?<input ng-model="checked" ng-click="changechecked()" type="checkbox" value=""/>


                                </label>
                                <form ng-show="checked">
                                    <input name="Add Batches" type="text" ng-model="batch">

                                    <button class="addbtn btn" ng-click="addBatch(batch);batch=''" style="
                                            width: 53px;
                                                    height: 30px;
                                                    padding-top: 0px;
                                                    padding-left: 0px;
                                                    padding-right: 0px;
                                                    padding-bottom: 0px;
                                            ">Add</button>
                                    <ul>
                                        <li ng-repeat="batch in data.timetable.batches">
                                            {{batch}}


                                        </li>
                                    </ul>
                                </form>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div ng-switch-when="four">
                    <fieldset>
                        <div class="control-group">

						 <span ng-repeat="entry in data.timetable.entries">

                     <input type="text" ng-model="value" placeholder="{{entry.name}}">
                       <button class="addbtn btn" id="entryvalue" ng-click="addValueToEntry(value,entry.name)" style="
                                            width: 53px;
                                                    height: 30px;
                                                    padding-top: 0px;
                                                    padding-left: 0px;
                                                    padding-right: 0px;
                                                    padding-bottom: 0px;
                                            ">Add</button>
                <ul>
                    <li ng-repeat="value in entry.values">{{value}}</li>
                </ul>

                </span>
                        </div>
                    </fieldset>
                </div>

                <div ng-switch-when="five">
                    <fieldset>
                        <div class="control-group">
                            Weekdays:{{data.timetable.weekdays}}
                            Batches:{{data.timetable.batches}}
                            {{data.timetable.entries}}
                            <span ng-repeat="entry in data.timetable.entries">
                                 Entry : {{entry.name}}
                                 Values : {{entry.values}}
                            </span>

                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn" ng-click="handlePrevious()" ng-show="!isFirstStep()">Back</a>
        <a class="btn btn-primary" ng-click="handleNext(dismiss)">{{getNextLabel()}}</a>
    </div>
</div>