<footer>
	<div class="container">
		
		
		<div class="row">
			<div class="col-md-3  col-xs-6">
				<div class="footer-link">
					<h5><a href="/about">About</a></h5>
				 
          
				</div>
			</div>
			<div class="col-md-3  col-xs-6">
				<div class="footer-link">
					<h5><a href="/teachers/new">Sign Up!</a></h5>
				

				</div>
			</div>
			<div class="col-md-3  col-xs-6">
				<div class="footer-link">
					<h5><a href="/contact">Contact Us</a></h5>
					
				</div>
			</div>
			<div class="col-md-3  col-xs-6">
				<div class="footer-link">
					<h5><a href="http://blog.idlecampus.com">Blog</a></h5>
				
				</div>
			</div>
		</div>
		
		
		
		<div class="row">
			<div class="col-md-12">
				
				<hr>
				<div class="copy text-center">
					&copy; 2013 <a href="/">IdleCampus</a>
				</div>
			</div>
		</div>
		
	</div>
</footer>