<footer class="footer">
  <p class="pull-right" style="
      color: whitesmoke;
  ">IdleCampus © 2013</p>
	
<%= image_tag "img/34Builtwiththeneedof.png",id:"footer-image",:size => "326x13" %>
</footer>